<mat-toolbar style="padding: 0px !important;">
  <div id="container">
    <div id="left">Logo</div>
    <div id="right">
      <span><img src="../../../assets/img/basket.png" alt="" width="50" height="50"></span>
      <span><img src="../../../assets/img/dp.png" alt="" width="50" height="50"></span>
    </div>
    <div id="center">
      <form action="">
        <input type="search" placeholder="Search...">
        <button type="submit"><mat-icon>search</mat-icon></button>
      </form>
    </div>
  </div>
</mat-toolbar>