<app-header></app-header>
<body>
    <div class="main" *ngIf="productDetails">
        <div class="container">
            <div class="row body">
                <div class="col-sm-6 col-xs-12 image">
                    <div><img [src]="productDetails.images[0]" alt="" width="100%"></div>
                    
                </div>
                <div class="col-sm-6 col-xs-12 container specs">
                    <div class="category">
                        <span>{{productDetails.category}}</span>
                    </div>
                    <div class="title">
                        <div><span>{{productDetails.title}}</span></div>
                    </div>
                    <div class="description">
                        <div><span>{{productDetails.description}}</span></div>
                    </div>
                    <div class="rating">
                        <div>
                            <span class="rate"><i class="material-icons">star</i> {{productDetails.rating}}</span> 
                            <span> Rating</span>
                        </div>
                    </div>
                    <div>
                        <div class="stock">
                            <span *ngIf="productDetails.stock>0">Available in Stock <i class="material-icons">check_circle</i></span>
                            <span *ngIf="productDetails.stock<1">Out of Stock</span>
                        </div>
                    </div>
                    <div>
                        <span class="condition">Condition: </span><span>New</span>
                    </div>
                    <div class="price">
                        <span><i class="material-icons">attach_money</i></span>{{productDetails.price}}
                        <span>you save <span class="off">{{productDetails.discountPercentage}}% off</span></span>
                    </div>
                    <div class="addButton">
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
